intermediaire.xml
mapnik.xml
Thumbs.db
imposm/*.cache
*.swp
*.swo
*.osm.bz2
styles/*/.thumb.png
styles/bright/layers/*
!styles/bright/layers/insert natural earth shapefiles here.txt
styles/bright/fonts/*
!styles/bright/fonts/insert exo font here.txt
styles/grey/layers/*
!styles/grey/layers/insert natural earth shapefiles here.txt
styles/grey/fonts/*
!styles/grey/fonts/insert exo font here.txt